
a {
    text-decoration: none;
}

.container {
    
    position: absolute;
    top: 80%;
    

}




.pokedex{
    padding-top: 5%;
}

.pokedex .title {

    color: #2F3E77;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 30px;
    margin-left: 6%;
    margin-top: 10%;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 50px;

}


.card {
    width: 200px;
    background-color: #FBFDFF;
    border-radius: 2px;
    margin-top: 30px;
    margin-left: 20px;
    color: #233674;
    transition: transform 0.3s ease;
}

.card img {
    padding-left: 2.5em;
    width: 7.75em;
    height: 7.625em;
    
}

.card .card-link {
    color: inherit;
    text-decoration: none;
    
  }

  
.descricao {
    display: flex;
    justify-content: space-evenly;
}




.descricao p {
    padding-top: 7px;
    padding-left: 41px;
    font-weight: 400;
}

.altura {
    display: flex;
    justify-content:space-between;
    padding-top: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-weight: 600;
}

.peso {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-weight: 600;
    
}


.peso p {
    position: relative;
    top: -25px;
}



.seta-esquerda {
    position: absolute;
    top: 88%;
    left: 90%;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background-color: #EA686D;
    border: none;
}

.seta-direita {
    position: absolute;
    top: 88%;
    left: 94%;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    background-color: #EA686D;
    border: none;
}

.setas img {
    padding: 3px 5px;
}

#btn {
    margin-right: 10px;
}