<div class="container">
<section>

    <h2 class="title">Mais procurados</h2>

    <!--POKÉMONS MAIS PROCURADOS-->

    <div class="cards">
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Charmeleon</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/charmeleon.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>1.10cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>19Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Squirtle</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/squirtle.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>50cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>9Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Caterpie</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/caterpie.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>30cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>2.9Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Pikachu</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/pikachu.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>40cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>6Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Blastose</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/blastoise.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>1.80cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>64Kg</p>
                </span>


            </a>
        </div>

       
            <button id="seta-esquerda"><img src="assets/seta-esquerda.png" ></button>
            <button id="seta-direita" ><img src="assets/seta-direita.png" ></button>
        
    </div>
</section>

<!-- POKÉMONS -->

<section class="pokedex" >

    <h3 class="title">Pokédex</h3>

    <div class="cards">
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Pidgeotto</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/pidgeotto.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>1.10cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>30Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Pidgeot</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/pidgeot.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>1.50cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>39.4Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Rattata</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/rattata.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>30cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>3.5Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Ekans</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/ekans.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>200cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>6.9Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Arbok</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/arbok.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>350cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>64Kg</p>
                </span>


            </a>
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Vulpux</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/vulpix.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>1.80cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>64Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Raichu</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/raichu.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>80cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>30Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Paras</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/paras.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>1.80cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>64Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Venonat</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/venonat.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>100cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>30Kg</p>
                </span>


            </a>
        </div>
        <div class="card">
            <a>
                <span class="descricao">
                    <h3>Venomoth</h3>
                    <p>#COD</p>
                </span>
                <img src="assets/blastoise.png" alt="">
                <span class="altura">
                    <p>Altura:</p>
                    <p>1.50cm</p>
                </span>
                <span class="peso">
                    <p>Peso:</p>
                    <p>12Kg</p>
                </span>


            </a>
        </div>

        <button class="setas"><img src="assets/seta-esquerda-poke.png" alt=""></button>
        <button class="setas" ><img src="assets/seta-direita-poke.png" alt=""></button>

    </div>

</section>
</div>

