

form input {
   position: absolute;
   top: 60.1%;
   left: 6.6%;
   width: 18.2%;
   height: 30px;
   box-sizing: border-box;
   color: #2F3E77;
   font-weight: 200;
   background: #FFFFFF;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px 0px 0px 5px;

}

form img {
   position: absolute;
   top: 58.8%;
   left: 24%;
   width: 97px;
}



/* Media Queries */
@media screen and (max-width: 768px) {
  form input {
    top: 630px;
    left: 15.4%;
    width: 50%;
  }

  form img {
    top: 621px;
    left: 64%;
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  form input {
    top: 83%;
    width: 50%;
  }
  

  form img {
    top: 81.5%;
    left: 62.7%;
    width: 25%;
  }
}