<header>
    <img  src="assets/Logo-03.png" alt="">
    <h1>Explore o mundo<br>dos <span>Pokémons</span></h1>
    <p>Descubra todas as espécies de Pokémons</p>

    <section>
        <div id="img1">
            <img id="pokemon1" src="assets/fundo1.png" alt="">
        </div>
        <div id="img2">
            <img id="pokemon2" src="assets/fundo2.png" alt="">
        </div>
        <div id="img3">
            <img id="pokemon3" src="assets/fundo3.png" alt="">
        </div>
    </section>
</header>