
header {
  
    padding-left: 6.5%;
   
    
}



h1 {
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 3.8rem;
   color: #2F3E77;
}

h1 span {
    font-weight: 600;
    color: #EA686D;
}

p {
    color: #2F3E77;
    
    line-height: 30px;
    font-size: 20px;
}


#img1 {
    position: absolute;
    top: 70%;
    left: 40%;
    border-radius: 10px;

}

#img2{
    position: absolute;
    left: 70%;
    top: 88%;
    border-radius: 10px;
}

#img3 {
    position: absolute;
    top: 75%;
    left: 84.8%;
    border-radius: 10px;
}



#pokemon1 {
    position: absolute;
    left: 11%;
    bottom: 24%;
}



#pokemon2 {
    position: absolute;
    right: 1px;
    bottom: 45px;
}



#pokemon3 {
    position: absolute;
    bottom: 47px;
    right: 1px;
}
